 <div>
    <img src="{{image}}" alt="">
    <h2>{{title}}</h2>
    <h2>Director:</h2>
        <h3>{{director}}</h3>
    <h2>Stars</h2>
        <h3>{{stars}}</h3>
    <h2>Sinopsis</h2>
     <h3>{{description}}</h3>
    <h2>Showtimes</h2>
        <h3>{{showtimes}}</h3>
  </div>
